body {
  background: url( 'http://i.imgur.com/ulR2kk8.jpg' ) no-repeat center center fixed;
  background-size: cover;
}

.white {
  color: white;
}

footer {
  text-align: center;
  margin-top: 10%;
}

fieldset{
  width: 17%;
}
