<p>Hello!</p>

<p>Put your zipcode here!</p>

<form>
  <input type='text' name="zip" id='zipcode'>
  <input type='submit' value='Get your outfit!' id='submit-zip'>
</form>

<div class="container">
  <h1>Sign In</h1>

  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>

  <form id="sign-in" method="post" action="/sessions">
    <label class="label" for="email">Email</label>
    <input type="email" name="email" placeholder="e.g., me@example.com" value="<%= @email %>"><br>
    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>
    <div class="submit"><input type="submit" value="Sign In"></div>
  </form>

</div>

<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">Name</label>
    <input type="text" name="user[name]" placeholder="e.g., joe" >
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="user[email]" placeholder="e.g., me@example.com" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="6 or more characters">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
