<h3 class="white mid-page">Hello!</h3>



<%if !logged_in?%>

<h5 class="white mid-page">Put your zipcode here!</h5>

<form>
  <input type='text' name="zip" id='zipcode'>
  <input type='submit' value='Get your outfit!' id='submit-zip'>
</form>

<%= erb :_sign_in, :layout => false%>

<%= erb :_sign_up, :layout => false%>


<%end%>



