<p class="white">Hello!</p>



<%if !logged_in?%>

<p class="white">Put your zipcode here!</p>

<form>
  <input type='text' name="zip" id='zipcode'>
  <input type='submit' value='Get your outfit!' id='submit-zip'>
</form>

<%= erb :_sign_in, :layout => false%>

<%= erb :_sign_up, :layout => false%>


<%end%>



