
<%if !logged_in?%>


<div class="container" >
  <div class='site-name white eight columns'>
    <p class='title'>Who Says? Drew Says!</p>
  </div>

  <div class='sign-inz four columns'>
    <%= erb :_sign_in, :layout => false%>
  </div>

  <div class='sign_upz five columns'>
    <%= erb :_sign_up, :layout => false%>
  </div>

  <div class="beginning">
   <h5 class="white">Don't want an account? Put your zipcode here!</h5>
    <form >
      <input type='text' name="zip" id='zipcode'>
      <input type='submit' value='Get your outfit!' id='submit-zip'>
    </form>
  </div>
</div>

<%end%>



